<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
  <display-name>Ticket Service</display-name>
  
  <servlet>
    <servlet-name>TicketServlet</servlet-name>
    <servlet-class>org.longhorn.ticket.servlet.TicketServlet</servlet-class>
    <init-param>
      <param-name>zkurl</param-name>
      <param-value>127.0.0.1:2181</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TicketServlet</servlet-name>
    <url-pattern>/ticket</url-pattern>
  </servlet-mapping>

</web-app>
